<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account confirmation</title>
</head>
<body>
<header  >
    <h1> Email Verification Success</h1>
    <img id="logo" src="../images/AnBerLogo.jpg" alt="AnBerLogo" width="60%" height="60%"/>

</header>
<main>
    <div class="containered">
<p>
        Your AnBer Account has been successfully created and your email has been verified! Please click <a href="/login">here</a> to log into your account</p>
    </div>
</main>
</body>

</html>