<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link th:href="@{/css/main.css}" rel="stylesheet" href="css/main.css" />
</head>

<body>
<header>
    <div class="containernav">
        <div class="pre-nav">
            <div>
                <a href="/" class="logo">
                    <img id="logo" src="../images/AnBerLogo.jpg" alt="AnBerLogo" width="60%" height="60%"/>
                </a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li class="navlist-item"><a href="/">Home</a></li>
                    <li class="navlist-item"><a href="#">Electricity</a></li>
                    <li class="navlist-item"><a href="#">Gas</a></li>
                    <li class="navlist-item"><a href="#">Contact</a></li>
                    <li class="navlist-item"><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<main>
    <div class="full-page">
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">

                                <form id="register-form" role="form" autocomplete="off" class="form"
                                      th:action="@{/forgot-password}" th:object="${user}" method="post">

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                                    </div>

                                    <input type="hidden" class="hide" name="token" id="token" value="">
                                </form>
                                <div class="row">

                                    New user? <a href="/" th:href="@{/register}">Register</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
</html>