<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>AnBer-Login-Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link th:href="@{/css/main.css}" rel="stylesheet" href="css/main.css" />
</head>

<body>
<header>
        <div class="containernav">
          <div class="pre-nav">
            <div>
                <a href="/" class="logo">
                    <img id="logo" src="../images/AnBerLogo.jpg" alt="AnBerLogo" width="60%" height="60%"/>
                </a>
            </div>
            <nav>
              <ul id="MenuItems">
                <li class="navlist-item"><a href="/">Home</a></li>
                <li class="navlist-item"><a href="#">Electricity</a></li>
                <li class="navlist-item"><a href="#">Gas</a></li>
                <li class="navlist-item"><a href="#">Contact</a></li>
                <li class="navlist-item"><a href="/login">Login</a></li>
              </ul>
            </nav>
          </div>
        </div>
</header>
<main>
    <div class="full-page">
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">


                            <!-- <img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" /> -->
                            <form th:action="@{/login}" method="POST" class="form-signin">
                                <h3 class="form-signin-heading" th:text="Login"></h3>
                                <br/> <input type="text" id="email" name="email" placeholder="Email" class="form-control"/> <br/>
                                <input type="password" placeholder="Password" id="password" name="password" class="form-control"/> <br/>
                                <div class="error" th:if="${param.error}"
                                     th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                                    <span th:text="${errorMsg}"></span>
                                </div>
                                <button class="btn btn-lg btn-primary" name="Submit" value="Login" type="Submit" th:text="Login"
                                ></button>
                                <a href="/forgot-password">Forgot password?</a>

                                <h4>Not yet registered? <br> <br>  <a href="/register">Register!</a></h4>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</main>
</body>
</html>