<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<title>Password Reset Success</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
		<link th:href="@{/css/main.css}" rel="stylesheet" href="css/main.css" />
	</head>
	<body>
	<header>
		<h1>Password Reset Success</h1>
		<img id="logo" src="../images/AnBerLogo.jpg" alt="AnBerLogo" width="15%" height="15%"/>
	</header>
	<main>
		<div class="containered">

      <span th:text="${message}"></span> <br/><br/><br/>
			<br>
			<p><a href="/login">Login</a> </p>


		</div>
	</main>
	</body>
</html>
