<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Email Verification</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>

<header  >
    <h1>Email Verification</h1>
    <img id="logo" src="../images/AnBerLogo.jpg" alt="AnBerLogo" width="15%" height="15%"/>

</header>
<main>
    <div class="containered">

        <span> <p>Your Verification Email has been successfully sent! </p>
                 </span>

    </div>
</main>
</body>
</html>